<template lang="html">
	<div class="w3-light-grey">
		<div class="w3-content" style="max-width: 1600px">
			<div class="w3-row w3-padding w3-border">
				<div class="w3-col l8 s12">
					<div class="w3-container w3-white w3-margin w3-padding-large">
						<div class="w3-justify">
							<h1>Laptops</h1>
							<br /><br />
							<div>
								<button
									v-for="pageNumber in totalPages"
									:key="pageNumber.id"
									class="w3-button"
									v-bind:key="pageNumber"
									@click="setPage(pageNumber)"
									:class="{
										current: currentPage === pageNumber,
										last:
											pageNumber == totalPages &&
											Math.abs(pageNumber - currentPage) > 3,
										first:
											pageNumber == 1 && Math.abs(pageNumber - currentPage) > 3,
									}"
								>
									{{ pageNumber }}
								</button>
							</div>
							<div
								class="container w3-white w3-card"
								v-for="article in paginate"
								:key="article._id"
							>
								<br />
								<div class="row">
									<div class="col-sm-4">
										<img
											src="~/assets/laptop.jpg"
											style="width: 100px; height: 100px"
										/>
									</div>
									<div class="col-sm-4">
										<h5>
											<span class="w3-large w3-text-teal"
												>{{ article.title }},</span
											>
										</h5>
										<span>OS: {{ article.os }}</span
										><br />
										<span>{{ article.size }} Inches</span><br />
										<span>{{ article.ram }} GB RAM</span><br />
										<span v-if="article.storage >= 1000"
											>{{ article.storage / 1000 }} TB Storage,</span
										>
										<span v-else>{{ article.storage }} GB Storage,</span><br />
									</div>
									<div class="col-sm-4">
										<h3>${{ article.price }}</h3>
										<p>
											<a href=""
												><button class="w3-button w3-block w3-teal">
													Buy Now
												</button></a
											>
										</p>
									</div>
								</div>
								<hr />
							</div>
							<div>
								<button
									v-for="pageNumber in totalPages"
									:key="pageNumber.id"
									class="w3-button"
									v-bind:key="pageNumber"
									@click="setPage(pageNumber)"
									:class="{
										current: currentPage === pageNumber,
										last:
											pageNumber == totalPages &&
											Math.abs(pageNumber - currentPage) > 3,
										first:
											pageNumber == 1 && Math.abs(pageNumber - currentPage) > 3,
									}"
								>
									{{ pageNumber }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
